<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "tests">
<listeners>
<listener class-name="ScoutMaven.Listeners"></listener>
</listeners>
  <test thread-count="5" name="Validate Homepage">
    <classes>
      <class name="ScoutMaven.Homepage"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Validate Header">
    <classes>
      <class name="ScoutMaven.HeaderMenu"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Validate Ulimate Guide post links">
    <classes>
      <class name="ScoutMaven.UltimateGuides"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Validate Search features">
    <classes>
      <class name="ScoutMaven.SearchTests"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="App tests">
    <classes>
      <class name="ScoutMaven.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->